<!--
  HTML for rendering article provided via the article object.
-->
<div id="articleContainer" class="container">
  <div id="articleBackgroundRow" class="row">
    <div id="articleBackground" class="col-sm-offset-1 col-sm-10">
      <h1 id="articleTitle" class="articleTitle text-center"><%= raw @article.getTitle() %></h1>
      <%= raw @article.getHighlighted(current_user) %>
      
      <h6 id="articleAuthors" class="articleAuthors text-right">authored by <%= @article.authors %></h6>
    </div>
  </div>
</div>
