<!-- 
  Implementation for header at top of page 
  CSS for headerContainer and its elements contained in
  main.css
-->
<div id="headerContainer" class="container">
  <div id="headerRow" class="row">
    <div id="headerLogoContainer" class="col-md-3 col-xs-3 col-lg-3">
    </div>
    <div id="headerTitleContainer" class="col-md-6 col-xs-6 col-lg-6">
      <div id="header" class="hori-vert-center">
        <h1 id="headerTitle" class="unselectable">Smarticle</h1>
      </div>
    </div>
    <div id="headerLoginButtonContainer" class="col-md-3 col-xs-3 col-lg-3 text-right vert-center">
      <% if current_user %>
        <!-- Render welcome message if logged in already -->
        <h1 id="headerLoginText" class="text-primary">Welcome, <span id="headerLabel" class="label"><%= raw current_user().name %></span></h1>
      <% else %>
        <!-- Render Login Button Partial if not already logged in -->
        <%= link_to 'Login With Facebook', '/auth/facebook', id: "headerLoginButton", class: 'btn btn-primary hori-center' %>
      <% end %>
    </div>
  </div>
</div>
