<!--
  HTML for rendering article provided via the article object.
-->
<div id="articleContainer" class="container">
  <div id="articleBackgroundRow" class="row">
    <div id="articleBackground" class="col-sm-offset-1 col-sm-10">
      <% @article.getParagraphs().each_with_index do |paragraph, idx| %>
        <p id="articleParagraph<%= raw idx %>" class="articleParagraph">
          <%= raw paragraph %>
        </p>
      <% end %>
    </div>
  </div>
</div>
