<div class="jumbotron">
  <h1>Welcome!</h1>
  <% if current_user %>
    <form method="post" action="action">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input placeholder="Enter article url" type="text" name="url" id="url" /></br>
      <input type="submit" name="read" value="Read"><input type="submit" name="add" value="Add">
    </form>
    <% if @article %>
      <h3><%= @article.title %></h3>
      <div><%= @article.text %></div>
    <% end %>
    <% if @added %>
      <p> Article successfully added <p>
    <% end %>
  <% else %>
    <p>Authenticate via one of the social networks to get started.</p>
  <% end %>
  
</div>