<!-- Import Fonts -->
<link href="https://fonts.googleapis.com/css?family=News+Cycle:700" rel="stylesheet">

<div id="indexContainer">
  <!-- Render partial containing header bar at top of home page -->
  <%= render "index_header" %>

  <% if current_user %>
    <!-- If the user is logged into profile, render article parsing html -->
    <%= render "index_logged_in" %>
  <% else %>
    <!-- If the user is not logged into profile, render login request -->
    <%= render "index_not_logged_in" %>      
  <% end %>
</div>
